{% extends 'user/layout/members.html.twig' %}

{% block content %}
    <div class="main-content">
        <h1>Contributie betaald</h1>
        <p>
            Je contributiebetalingen is succesvol afgerond.
        </p>
        <a href="{{ url('member_details') }}" class="button">Terug</a>
    </div>
{% endblock %}
