{% set pageTitle = 'Steunlid worden' %}
{% extends 'user/layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/login.less') }}" />
{% endblock %}

{% block body %}
    <div id="center-form-wrapper" class="big-form">

        <img id="logo" src="{{ asset('assets/image/rood-jongeren.svg') }}" />

        <span class="center-form-title">
            {% trans %}Steunlidmaatschap{% endtrans %}
        </span>

        <p>
            {% trans %}Je steunlidmaatschap is succesvol afgesloten.{% endtrans %}
            {% trans %}De contributie zal in het vervolg automatisch van je bankrekening afgeschreven worden.{% endtrans %}
        </p>

        <p>
            {% trans %}Mocht je de frequentie of hoogte van je contributie willen wijzigen, neem dan contact op met het bestuur van ROOD via <a href="mailto:info@roodjongindesp.nl">info@roodjongindesp.nl</a>.{% endtrans %}
        </p>
    </div>
{% endblock %}
