@import 'common.less';
@import 'forms.less';
@import 'header.less';

h1, h2, h3 {
    font-family: @font-titles;
}

.rood { color: @rood; }

.main-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}
