<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ pageTitle is defined ? pageTitle ~ ' • ' }}Mijn ROOD</title>
    {% block stylesheets %}

    {% endblock %}
    <script>var less=less||{};less.env='development';less.useFileCache=false;</script>
    <script src="//cdn.jsdelivr.net/npm/less"></script>
</head>
<body>
    {% block body %}{% endblock %}
    {% block scripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% endblock %}
</body>
</html>
