{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Administratie {{ afdelingsnaam }}
{% endblock %}

{% block page_content %}
    <h2>Welkom in de administratie van {{ afdelingsnaam }}</h2>
{% endblock %}
