{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Ledenadministratie {{ organisatienaam }}
{% endblock %}

{% block page_content %}
    <h2>Welkom in de ledenadministratie van <span class="rood">{{ organisatienaam }}</span></h2>
{% endblock %}
