<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Statistieken</title>
    <link rel="stylesheet" href="/bundles/easyadmin/app.css">
    <style>
      .newMember td {
        background-color: #00820038
      }
      .newMember:hover td {
        background-color: #00820048 !important
      }
    </style>
</head>
<body>
  <section style="margin: 1rem">
    <h2>Statistieken</h2>
  </section>
  <div class="content-panel" style="margin: 1rem">  
    <div class="content-panel-body with-rounded-top with-min-h-250 without-padding">
      <table class="table datagrid with-rounded-top ">
        <tr>
          <td>Steuncontributie per maand</td>
          <td>{{ contributionSupportMembers }}</td>
        </tr>
      </table>
    </table>
    </div>
</body>
</html>
