{% set pageTitle = 'Steunlid worden' %}
{% extends 'user/layout/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/style/login.less') }}" />
{% endblock %}

{% block body %}
    <div id="center-form-wrapper" class="big-form">

        <img id="logo" src="{{ asset('assets/image/rood-jongeren.svg') }}" />

        <span class="center-form-title">
            Inschrijven bij <span class="rood">ROOD</span>
        </span>

        <div class="error">
            Je aanmelding is succesvol verwerkt. Binnenkort zul je een e-mail ontvangen van ROOD met meer informatie.
        </div>

    </div>
{% endblock %}
