{% set pageTitle = 'Lid worden' %}
{% extends 'user/layout/login.html.twig' %}

{% block body %}
    <div id="center-form-wrapper" class="big-form">

        <img id="logo" src="{{ asset(orgLogo) }}" />

        <span class="center-form-title">
            Inschrijven bij <span class="rood">{{ orgnaamkort }}</span>
        </span>

        <div class="error">
            Je aanmelding is succesvol verwerkt. Binnenkort zul je een e-mail ontvangen van {{ orgnaamkort }} met meer informatie.
        </div>

    </div>
{% endblock %}
