#header {
    border-bottom: 2px solid @rood;

    #header-content {
        margin: 0 auto;
        padding: 1rem;
        max-width: 1240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #header-logo {
        flex: 0 0 100px;
        max-height: 100px;
    }

    #show-header {
        display: none;
        &:not(:checked) ~ #header-menu {
            top: -100vh;
            bottom: 100vh;
        }
    }

    #show-header-button {
        display: none;
        width: 30px;
        height: 20px;
        color: #000;
        background: linear-gradient(0deg, currentColor 0%, currentColor 0%, currentColor 20%, transparent 20%, transparent 40%, currentColor 40%, currentColor 60%, transparent 60%, transparent 80%, currentColor 80%, currentColor 100%);

        @media @mobile {
            display: block;
        }
    }
    #header-menu {
        ul {
            display: flex;
            gap: 1rem;

            li {
                display: block;

                a {
                    font-size: 24px;
                    font-family: @font-titles;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: 0.3s ease color;
                }

                &.current, &:hover {
                    a {
                        color: @rood;
                    }
                }
            }
        }

        @media @mobile {
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            transition: 0.5s ease all;
            bottom: 0;
            z-index: 1000;
            background: @rood;

            ul {
                flex-direction: column;
                gap: 2rem;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100%;
                padding: 0;
                margin: 0;

                li {
                    a {
                        color: #fff;
                    }
                    &.current a, &:hover a {
                        color: #fff;
                        text-decoration: underline 4px;
                    }
                }
            }
        }

        #hide-header-button {
            display: none;
            position: absolute;
            top: 60px;
            right: 20px;
            width: 30px;
            height: 20px;
            color: #fff;
            cursor: pointer;
            background: linear-gradient(0deg, currentColor 0%, currentColor 0%, currentColor 20%, transparent 20%, transparent 40%, currentColor 40%, currentColor 60%, transparent 60%, transparent 80%, currentColor 80%, currentColor 100%);

            @media @mobile {
                display: block;
            }
        }
    }
}
