{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    ROOD Administratie
{% endblock %}

{% block page_content %}
    <h2>Welkom in de administratie van ROOD, jong in de SP</h2>
{% endblock %}
