{% extends 'email/html/layout.html.twig' %}
{% set url = url('set_new_password', { token: member.newPasswordToken }) %}
{% block content %}
    <p>
        Beste {{ member.firstName }},
    </p>
    <p>
Recentelijk heb je het aanmeldingsformulier Socialisten Utrecht ingevuld. Via deze mail heten wij je namens het Socialisten Utrecht-bestuur hartelijk welkom in onze organisatie. Wij zijn erg blij om 
te horen dat je je wil aansluiten bij het eenheidsinitiatief van Socialisten in Utrecht. Je lidnummer is {{ member.id }}.
    </p>
    <p>
Als lokale socialistische vereniging houden we onze eigen broek omhoog en zijn we niet financieel afhankelijk subsidie. Het is onze missie om alle socialisten in Utrecht een plek te bieden. We zijn helemaal blij als je ook actief wil worden voor Socialisten Utrecht. Dat kan op de volgende manier:
    </p>
    <ul>
        <li>Word actief bij een van onze lokale afdelingen. Bij het inschrijven kiest ieder lid een lokale afdeling, in deze lokale afdeling worden wekelijks vergaderingen gehouden om acties te plannen en politiek te bespreken. Om actief te worden in deze afdelingen is het niet vereist in deze specifieke gemeente te wonen. Leden die bijvoorbeeld in de buurt van één van deze steden wonen zijn meer dan welkom. Wanneer jij tijdens het invullen van het aanmeldingsformulier een woonplaats hebt doorgegeven, zal het bestuur ervoor zorgen dat de desbetreffende afdeling contact opneemt met jou. Mocht dit niet het geval zijn maar wil jij wel actief worden bij één van deze afdelingen, stuur dan vooral een mailtje terug! Een overzicht van alle bestaande afdelingen kun je vinden op: <a href="https://socialisten.org/lokaal/">socialisten.org/lokaal</a></li>
        <li>Voor leden zijn er naast de lokale afdelingen nog genoeg andere mogelijkheden om actief te zijn voor ROOD. Zo zijn er gethematiseerde netwerken waarbij nieuwe, enthousiaste leden altijd welkom zijn. Een overzicht van de verschillende netwerken en wie je daarvoor moet benaderen kun je hier vinden: <a href="https://socialisten.org/netwerken/">socialisten.org/netwerken</a>.
        <li>Neem deel aan het landelijke forum van Socialisten.org. Via deze link krijg je een uitnodigingsmail voor het forum: https://forum.socialisten.org/invites/xGWGENEeYz
        </li>
    </ul>
    <p>
Je kunt een wachtwoord instellen voor Mijn Socialisten Utrecht, de ledenwebsite van Socialisten Utrecht, door op deze link te klikken: <a href="{{ url }}">{{ url }}</a>
    </p>
    <p>
        Kameraadschappelijke groet,
    </p>
    <p>
        Het Socialisten bestuur
    </p>
{% endblock %}
