{% extends 'email/html/layout.html.twig' %}
{% set url = url('set_new_password', { token: member.newPasswordToken }) %}
{% block content %}
    <p>
        Beste {{ member.firstName }},
    </p>
    <p>
Recentelijk heb je als het goed is het aanmeldingsformulier van ROOD, Socialistische Jongeren ingevuld. Via deze mail heten wij je namens het ROOD-bestuur hartelijk welkom in onze organisatie. Wij zijn erg blij om te horen dat je je wil aansluiten bij de meest linkse en radicale jongerenorganisatie van Nederland. Je lidnummer is {{ member.id }}.
    </p>
    <p>
Als onafhankelijke socialistische jongerenorganisatie houden we onze eigen broek omhoog en zijn we niet financieel afhankelijk van een partij. Het is onze missie om socialistische jongeren een plek te bieden in een jongerenorganisatie. Op dit moment bieden wij verschillende mogelijkheden aan om actief te worden bij ROOD:
    </p>
    <ul>
        <li>Word actief bij een van onze lokale groepen. Bij het inschrijven kiest ieder lid een lokale groep, in deze lokale groepen worden wekelijks vergaderingen gehouden om acties te plannen en politiek te bespreken. Om actief te worden in deze groepen is het niet vereist in deze specifieke gemeente te wonen. Leden die bijvoorbeeld in de buurt van één van deze steden wonen zijn meer dan welkom. Wanneer jij tijdens het invullen van het aanmeldingsformulier een woonplaats hebt doorgegeven, zal het bestuur ervoor zorgen dat de desbetreffende groep contact opneemt met jou. Mocht dit niet het geval zijn maar wil jij wel actief worden bij één van deze groepen, stuur dan vooral een mailtje terug! Een overzicht van alle bestaande ROOD-groepen kun je vinden op: <a href="https://roodjongeren.nl/afdelingen">roodjongeren.nl/afdelingen</a></li>
        <li>Voor leden zijn er naast de lokale groepen nog genoeg andere mogelijkheden om actief te zijn voor ROOD. Zo is er bijvoorbeeld een scholingswerkgroep en een social media team waarbij nieuwe, enthousiaste leden altijd welkom zijn. Een overzicht van de verschillende werkgroepen en wie je daarvoor moet benaderen kun je hier vinden: <a href="https://roodjongeren.nl/werkgroepen">roodjongeren.nl/werkgroepen</a>.</li>
        <li>Kom in onze <a href="https://chat.whatsapp.com/IOH255hZPwqLd5mrJTarcI">WhatsApp community!</a> hier blijf je op de hoogte van updates, en kan je specifieke WhatsApp groep van jouw plaatselijke afdeling vinden.</li>
    </ul>
    <p>
        Je kunt een wachtwoord instellen voor Mijn ROOD, de ledenwebsite van ROOD, door op deze link te klikken:
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <p>
        Kameraadschappelijke groet,
    </p>
    <p>
        Het ROOD-bestuur
    </p>
    <p>
        P.S. Ben jij niet tussen de 14-28 jaar en/of wil jij geen lid worden van ROOD? Neem dan contact op met het bestuur via <a href="mailto:info@roodjongeren.nl">info@roodjongeren.nl</a>. Om op de hoogte te blijven van de ontwikkelingen rondom ROOD, check <a href="https://roodjongeren.nl">roodjongeren.nl</a>.
    </p>
{% endblock %}
