{% extends 'email/html/layout.html.twig' %}
{% block content %}
<p>Dear {{ supportMember.firstName }},</p>

<p>Thank you for registering as a supporting member. As an independent socialist youth organisation, we are completely dependent on the contribution of our members and supporters. As supporting member, you are one of our steady donors.</p> 

<p>We will keep you up to date of any ROOD activities with our newsletter and we are looking for other ways of involving supporting members.</p>

<p>Our merchandise is available at <a href="https://shop.roodjongeren.nl">shop.roodjongeren.nl</a>.</p>

<p>With camaraderie,</p>

<p>The ROOD board</p>
{% endblock %}
