{% extends 'email/html/layout.html.twig' %}
{% block content %}
<p>Dear {{ supportMember.firstName }},</p>

<p>Thank you for registering as a supporting member. As an independent socialist youth organisation, we are completely dependent on the contribution of our members and supporters. As supporting member, you are one of our steady donors.</p> 

<p>We will keep you up to date of any {{ organisatienaam }} activities with our newsletter and we are looking for other ways of involving supporing members. When {{ organisatienaam }} gets their own merchandise again, you will also be able to get some.</p>

<p>With camaraderie,</p>

<p>The {{ organisatienaam }} board</p>
{% endblock %}
