{% extends 'email/html/layout.html.twig' %}
{% block content %}
<p>Beste {{ supportMember.firstName }},</p>

<p>Van harte bedankt voor je aanmelding als steunlid. ROOD kan deze steun goed gebruiken. Als onafhankelijke socialistische jongerenorganisatie zijn we volledig afhankelijk van de contributie van leden en donaties van donateurs. Als steunlid ben je een van onze vaste donateurs.</p>

<p>We zullen je op de hoogte houden van ROOD-activiteiten middels een nieuwsbrief en kijken wat we onze steunleden nog meer kunnen bieden. Als ROOD weer eigen merchandise heeft willen we deze ook aan steunlieden bieden.</p>

<p>Er is ook een steungroep voor ROOD in oprichting. Wil je in contact komen, stuur dan een mail naar <a href="mail:info@steungroepvoorrood.nl">info@steungroepvoorrood.nl</a></p>

<p>Kameraadschappelijke groet,</p>

<p>Het bestuur van {{ afdelingsnaam }}</p>
{% endblock %}
